.doctorImg img{
    width: 80%;
    height: 60%;
    padding-top: 80px;
    padding-left: 100px;
}
.doctorText{
    margin-top: 80px;
    margin-left: 100px;
    font-weight: 700;
    color: white;
}
.doctorText p{
    font-style: oblique;
}
.ourDoctors{
    display: flex;
    justify-content: center;
    margin-top: 30px;

    border-radius: 15px;
}
.ourDoctors .ourDoctorsDetails{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ourDoctors .ourDoctorsDetails > *{
    margin: 120px;

}
.ourDoctors .doctorsInfo{
    background-image: linear-gradient(to right, #eb1e75, #000000);
    text-align: center;
}
.doctorsInfo h5{
   color: white;
   padding-top: 5px;
}
.doctorHeading{
    background-image:  url(../images/Mask\ Group\ 4.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
}
.footer{
    padding-left: 80px;
    padding-top: 40px;
}
.footer > div:first-child{
    display: flex;
}
.footer > div > *{
    width: 33.33%;
}

.footer .brandIcon > *{
    border: 1px solid #eb1e75;
    border-radius: 15px;
    padding: 5px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    color: #eb1e75;
    transition: .5s;
}
.footer .brandIcon > *:hover{
    background-color: #eb1e75;
    color: white;
}
.footer .callNow{
    background-image: linear-gradient(to right, #eb1e75, #000000);
    width: 140px;
    padding: 10px 10px;
    color: white;
    border-radius: 5px;
}
.footer small{
    color: gray;
    font-weight: 600;
}
